extends layout

block content
  table.table
    thead
      tr
        th #
        th First Name
        th Last Name
        th Age
        th Address
        th Profession
    tbody
      each obj in clients  
        tr
          th(scope='row') #{clients.indexOf(obj) + 1}
          td=obj.firstName
          td=obj.lastName
          td=obj.age
          td=obj.address
          td=obj.profession
          //- | #{tasks.indexOf(obj) + 1}. #{obj.task}